{% extends "base.html" %}
{% set active_page = "account" %}
{% set title = "My Account" %}

{% block content %}
<h2>My Account</h2>
<div class="row">
    <div class="col-sm">
        <h4>Login</h4>
        <form>
            <label for="login-email">Email:</label><br>
            <input type="text" id="login-email" name="login-email"><br>
            <label for="login-password">Password:</label><br>
            <input type="password" id="login-password" name="login-password">
            <br><br><input type="submit" value="Login">
        </form> 
    </div>
    <div class="col-sm">
        <h4>Register</h4>
        <form>
            <label for="register-firstname">First Name:</label><br>
            <input type="text" id="register-firstname" name="register-firstname"><br>
            <label for="register-lastname">Last Name:</label><br>
            <input type="text" id="register-lastname" name="register-lastname"><br>
            <label for="register-phoneno">Phone Number:</label><br>
            <input type="text" id="register-phoneno" name="register-phoneno"><br>
            <label for="register-email">Email:</label><br>
            <input type="text" id="register-email" name="register-email"><br>
            <label for="register-password">Password:</label><br>
            <input type="password" id="register-password" name="register-password">
            <br><br><input type="submit" value="Register">
        </form> 
    </div>
</div>
{% endblock content %}
