<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('home') }}">Alemania Tools</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% set navigation_bar = [
      ('home', 'Home'),
      ('tool_selection', 'Tool Selection'),
      ('login', 'Login'),
      ('register', 'Register'),
      ('cart', 'Cart')
      ] %}
      {% set active_page = request.endpoint|default('home') %}

      <a class="nav-item nav-link{% if active_page == 'home'%} active{% endif %}" href="{{ url_for('home') }}">Home</a>
      <a class="nav-item nav-link{% if active_page == 'tool_selection'%} active{% endif %}" href="{{ url_for('tool_selection') }}">Tool Selection</a>
      {% if current_user.is_authenticated %}
      <a class="nav-item nav-link{% if active_page == 'logout'%} active{% endif %}" href="{{ url_for('logout') }}">Logout</a>
      {% else %}
      <a class="nav-item nav-link{% if active_page == 'login'%} active{% endif %}" href="{{ url_for('login') }}">Login</a>
      <a class="nav-item nav-link{% if active_page == 'register'%} active{% endif %}" href="{{ url_for('register') }}">Register</a>
      {% endif %}
      <a class="nav-item nav-link{% if active_page == 'cart'%} active{% endif %}" href="{{ url_for('cart') }}">Cart</a>

    </div>
  </div>
</nav>
