{% extends "base.html" %}

{% block content %}

<div class="input-group mb-3">
    <form>
	{{ form.hidden_tag() }}
	<fieldset class="form-group">
	    <legend class="border-bottom mb-4">Tool Selection</legend>
	    <div class="form-group">
		{{ form.product.label(class="form-control-label") }}
		{% if form.product.errors %}
		{{ form.product(class="form-control form-control-lg is-invalid") }}
		<div class="invalid-feedback">
		    {% for error in form.product.errors %}
		    <span>{{ error }}</span>
		    {% endfor %}
		</div>
		{% else %}
		{{ form.product(class="form-control form-control-lg") }}
		{% endif %}
	    </div>
	</fieldset>
	<div class="form-group">
	    {{ form.search(class="btn btn-outline-info") }}
	</div>
    </form>
</div>

<div id="results">
</div>
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function() {
	    $('form').submit(function (e) {
		    var url = "{{ url_for('product_search') }}"; // send the form data here.
		    $.ajax({
			    type: "POST",
			    url: url,
			    data: $('form').serialize(), // serializes the form's elements.
			    success: function (data) {
				   // console.log(data)  // display the returned data in the console.
				    results_div = document.getElementById('results')
				    results_div.innerHTML = data
				}
			});
		    e.preventDefault(); // block the traditional submission of the form.
		});

	    // Inject our CSRF token into our AJAX request.
	    $.ajaxSetup({
		    beforeSend: function(xhr, settings) {
			    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
				    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
				}
			}
		})
	});
</script>
{% endblock scripts %}
