{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
	<div class="col-sm-6">
	    <form>
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
		    <legend class="border-bottom mb-4">Tool Selection</legend>
		    <div class="form-group">
			{{ form.product.label(class="form-control-label") }}
			{% if form.product.errors %}
			{{ form.product(class="form-control form-control-lg is-invalid") }}
			<div class="invalid-feedback">
			    {% for error in form.product.errors %}
			    <span>{{ error }}</span>
			    {% endfor %}
			</div>
			{% else %}
			{{ form.product(class="form-control form-control-lg") }}
			{% endif %}
		    </div>
		</fieldset>
		<div class="form-group">
		    {{ form.search(class="btn btn-outline-info") }}
		</div>
	    </form>
	</div>
	<div class="col-sm-6">
	    <div>
		<a class="button" id="startButton">Start</a>
		<a class="button" id="resetButton">Reset</a>
	    </div>

	    <div>
		<video id="video" width="300" height="200" style="border: 1px solid gray"></video>
	    </div>

	    <div id="sourceSelectPanel" style="display:none">
		<label for="sourceSelect">Change video source:</label>
		<select id="sourceSelect" style="max-width:400px">
		</select>
	    </div>
	</div>
    </div>
</div>

<div id="results">
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="https://unpkg.com/@zxing/library@latest/umd/index.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/barcode-scanner.js') }}"></script>
<script>
    let product_search_url = "{{ url_for('product_search') }}";
    let csrf_token = "{{ form.csrf_token._value() }}";
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/product-search.js') }}"></script>
{% endblock scripts %}

